Checks: >
  readability-identifier-naming,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-override,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  -modernize-use-equals-default,
  cppcoreguidelines-init-variables,
  modernize-use-default-member-init

CheckOptions:
  # クラス名 PascalCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  # インターフェース名 I + PascalCase
  - key: readability-identifier-naming.AbstractClassPrefix
    value: I

  # 関数名 camelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  # ローカル変数 camelCase
  # - key: readability-identifier-naming.LocalVariableCase
  #   value: camelBack

  # ローカルconst変数 camelCase（関数内のconst変数）
  - key: readability-identifier-naming.LocalConstantCase
    value: camelBack

  # メンバ変数 m_ + camelCase
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.MemberCase
    value: camelBack

  # 静的メンバ変数 s_ + camelCase
  - key: readability-identifier-naming.StaticMemberPrefix
    value: s_
  - key: readability-identifier-naming.StaticMemberCase
    value: camelBack

  # 定数 UPPER_SNAKE_CASE
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE

  # const修飾関数パラメータ camelCase（const parameterは定数ではなくパラメータ）
  - key: readability-identifier-naming.ConstantParameterCase
    value: camelBack

  # 列挙型名 PascalCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  # 列挙値 PascalCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

  # 名前空間 小文字
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case